<h1> Users New </h1>
<p> This is a Test String </p>
<p> クライアント登録用のフォーム実装（テスト）</p>
<%= form_with(model: @user) do |form|  %>
    <%= form.label  :user_name %>
    <%= form.text_field :name %>
    
    <%= form.label :user_mail %>
    <%= form.text_field :mail %>

    <%= form.label :password_digest %>
    <%= form.text_field :password_digest %>
    
    <%= form.submit "送信" %>
<% end %>