<h1> Error </h1>
<p> This is a Test String </p>
<p> クライアント登録用のフォームError（テスト）</p>
<%= form_with(model: @user) do |form|  %>
    <%= form.label  :user_name %>
    <%= form.text_field :user_name %>
    
    <%= form.label :user_mail %>
    <%= form.text_field :user_mail %>

    <%= form.label :password_digest %>
    <%= form.text_field :password_digest %>
    
    <%= form.submit "再送信" %>
<% end %>